:root{
    --fade-out-duration: 3s;
}

.entrance-body{
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fade {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s var(--fade-out-duration), opacity var(--fade-out-duration) linear;
}

.container{
    display: flex;
    gap: 32px;
}

.left{
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.chart-icon{
    fill: #57a5e5;
}

.splitter{
    width: 8px;
    background-color: #000000ab;
    border-radius: 6px;
}

.button-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.npm-button{
    --button-font-size: 20px;
}