.main-container{
    opacity:0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.visible{
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.chart-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 480px;
    width: 690px;
}
.controls{
    display: flex;
    align-items: stretch;
    justify-content: center;
    height: 480px;
    width: 260px;
}