.controls-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 12px;
}

.data-controls{
    display: flex;
    flex-direction: column;
    gap:8px;
}

.display-controls{
    display: flex;
    flex-direction: column;
    gap:8px;
}

.color-sliders{
    transition: visibility 0s 500ms, opacity 500ms linear;
}

.fade-in {
    visibility: show;
    opacity: 1;    
}

.fade-out {
    visibility: visible;
    opacity: 0;    
}

.dps-edit-container {
    display: flex;
    justify-content: space-between;
}

.dps-edit-container * {
    flex: 1 1 0px;
}